@model EntityLayer.Concrete.Customer
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@*Bilgiler vs olacak şimdilik sadece isim var*@


<form class="form-group" method="post" style="margin-left:150px; margin-right:150px">
    <h3> Hoşgeldiniz @ViewBag.cadsoyad</h3>
    @Html.HiddenFor(x => x.CustomerID)
    @Html.Label("Ad Soyad")
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    <br />
    @Html.Label("Mail")
    @Html.TextAreaFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextAreaFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon Numarası")
    @Html.TextAreaFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>


